:root {
  --text-white: #FFFFFF;
  --sub-text-white: #D0D0D0;
  --dark-main-bg: #0D1219;
  --dark-footer: #1F2935;
  --link-color: #56a0ff;
}

body {
  background-color: var(--dark-main-bg);
  margin: 0;
}

a {
  text-decoration: none;
}

p, h2 {
  margin: 0
}

.viewport {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.contactPreview {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--text-white);
  padding: 22px 14px;
  font-size: 14px;
}

.contactPreview-img {
  border-radius: 50%;
  width: 54px;
  height: 54px;
}

.contactPreview .contactPreview-info {
  width: 90%;
  margin-left: 15px;
}

.contactPreview .contactPreview-name {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.homePage-img {
  width: 100%;
}

.article-container {
  padding: 14px;
}

.article-container .article-container-title {
  margin: 0px 0px 22px;
  font-size: 17px;
}

.article-container-title {
  color: var(--text-white);
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.articlePreview {
  border-radius: 10px;
  background-color: var(--dark-footer);
  color: var(--sub-text-white);
  margin-bottom: 30px;
}

.articlePreview img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.articlePreview .articlePreview-footer {
  padding: 10px 16px;
}

.articlePreview-footer .articlePreview-footer-header {
  display: flex;
  justify-content: space-between;
}

.articlePreview .articlePreview-footer-title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 12px 0px 4px;
  color: var(--text-white);
  cursor: pointer;
  font-size: 17px;
}

.articlePreview .articlePreview-footer-published_at {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.articlePreview .articlePreview-footer-description {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 14px;
}

.article-detail-content {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 14px;
  background-color: var(--dark-main-bg);
  color: var(--sub-text-white);
}

.article-detail-content-header {
  display: flex;
  justify-content: space-between;
}

.article-detail-content .article-detail-content-desc {
  margin-top: 20px;
}

.article-detail-pub {
  color: var(--sub-text-white);
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.article-detail-content * img {
  border-radius: 5px;
  width: 100%;
}

.article-detail-content-html>h1, h2, h3, hr {
  font-size: 17px;
  color: var(--text-white);
}

.article-detail-content-html * img {
  margin: 10px 0px;
}

pre {
  border-radius: 5px;
  font-size: 12px;
}

pre code span {
  background-color: var(--dark-footer);
}

.article-detail-content-html * a {
  color: var(--link-color);
}

.article-detail-content-footer>* {
  margin: 8px 0px;
}

.article-detail-content-footer {
  margin: 30px 0px;
}

.article-detail-content-html {
  margin-bottom: 10px;
}

.badgeContainer {
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
}

.badgeContainer>div {
  margin-right: 10px;
}

.pillBadge {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  border-radius: 20px;
  text-align: center;
  padding: 4px 14px;
  cursor: pointer;
  font-size: 12px;
}

footer {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background-color: var(--dark-footer);
  color: var(--sub-text-white);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 10px;
}

.socialContainer {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.socialLink {
  height: 20px;
  width: 70px;
}