:root {
  --text-white: #FFFFFF;
  --sub-text-white: #D0D0D0;
  --dark-main-bg: #0D1219;
  --dark-footer: #1F2935;
  --link-color: #56a0ff;
  --font-nunito: 'Nunito', sans-serif;
  --font-lato: 'Lato', sans-serif;
  --font-light: 300;
  --font-normal: 400;
  --font-bold: 700;
}

body {
  background-color: var(--dark-main-bg);
  margin: 0;
}

a {
  text-decoration: none;
}

p, h2 {
  margin: 0
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 4vw;
}

.viewport {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.contactPreview {
  font-family: var(--font-nunito);
  font-weight: var(--font-light);
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--text-white);
  padding: 1.5rem 0;
  font-size: 1.2em;
}

.contactPreview-img {
  border-radius: 50%;
  width: 54px;
  height: 54px;
}

.contactPreview .contactPreview-info {
  margin: 0 0 0 15px;
}

.contactPreview .contactPreview-name {
  font-family: var(--font-lato);
  font-weight: var(--font-bold);
}

.homePage-img, .homePage-img, .articlePreview-img {
  width: 100%;
}

.articlePreview-img {
  height: 300px;
}

.article-container {
  display: grid;
  padding: 3vw 0;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.article-container-title {
  color: var(--text-white);
  font-family: var(--font-lato);
  font-weight: var(--font-bold);
  margin: 1.5rem 0px 0px;
  font-size: 1.2em;
}

.articlePreview {
  border-radius: 0.7rem;
  background-color: var(--dark-footer);
  color: var(--sub-text-white);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.articlePreview img {
  border-radius: 0.7rem 0.7rem 0 0;
  width: 100%;
}

.articlePreview .articlePreview-footer {
  padding: 1rem;
}

.articlePreview-footer .articlePreview-footer-header {
  display: flex;
  justify-content: space-between;
}

.articlePreview .articlePreview-footer-title {
  font-family: var(--font-lato);
  font-weight: var(--font-bold);
  margin: 0.8rem 0px 0.4rem;
  color: var(--text-white);
  cursor: pointer;
  font-size: 1.2em;
}

.articlePreview .articlePreview-footer-published_at {
  font-family: var(--font-nunito);
  font-weight: var(--font-normal);
  text-align: right;
  font-size: 0.85em;
  width: 30%;
}

.articlePreview .articlePreview-footer-description {
  font-family: var(--font-nunito);
  font-weight: var(--font-normal);
  text-align: justify;
  font-size: 1em;
  color: var(--sub-text-white);
}

.article-detail {
  padding-bottom: 0.5rem;
}

.article-detail-title {
  color: var(--text-white);
  font-family: var(--font-lato);
  font-weight: var(--font-bold);
  font-size: 1.6em;
}

.article-detail-content {
  font-family: var(--font-nunito);
  font-weight: var(--font-normal);
  text-align: left;
  font-size: 1.2em;
  background-color: var(--dark-main-bg);
  color: var(--sub-text-white);
}

.article-detail-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-detail-content .article-detail-content-desc {
  margin: 1rem 0;
}

.article-detail-pub {
  color: var(--sub-text-white);
  font-family: var(--font-nunito);
  font-weight: var(--font-normal);
  font-size: 0.85em;
}

.article-detail-content * img {
  border-radius: 0.7rem;
  width: 100%;
}

.article-detail-content-html>h1, hr {
  font-size: 1.2em;
  color: var(--text-white);
}

.article-detail-content-html>h2 {
  font-size: 1.1em;
  color: var(--text-white);
}

.article-detail-content-html>h3 {
  font-size: 1em;
  color: var(--text-white);
}


.article-detail-content-html * img {
  margin: 1rem 0px;
}

pre {
  border-radius: 0.5rem;

}

pre code span {
  background-color: var(--dark-footer);
}

.article-detail-content-html * a {
  color: var(--link-color);
}

.article-detail-content-footer>* {
  margin: 0.4rem 0;
}

.article-detail-content-footer {
  margin: 2rem 0px;
}

.badgeContainer {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
}

.badgeContainer>div {
  margin-right: 0.5rem;
}

.pillBadge {
  font-family: var(--font-nunito);
  font-weight: var(--font-normal);
  border-radius: 1rem;
  text-align: center;
  padding: 0.2rem 0.9rem;
  cursor: pointer;
  font-size: 0.65em;
  white-space: nowrap;
}

.disqus-article {
  border-top: 0.1rem solid var(--text-white);
}

#disqus_thread {
  margin: 1rem 0 0 0;
}

footer {
  font-family: var(--font-lato);
  font-weight: var(--font-normal);
  background-color: var(--dark-footer);
  color: var(--sub-text-white);
  font-size: 0.85em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 0.8rem;
}

.socialContainer {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.socialLink {
  height: 20px;
  width: 70px;
}

@media (min-width: 768px) {
  .article-container {
    grid-template-columns: 1fr 1fr;
  }
  .badgeContainer {
    overflow-x: hidden;
  }
  .article-detail-title {
    font-size: 2em;
  }
  .pillBadge {
    font-size: 0.7em;
  }
}